<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestParallel"  thread-count="4" parallel="tests">

    <test name = "ChromeTest">
    <parameter name="browser" value="${browser1}" />
        <classes>
            <class name="com.query.maven.ClassOne"/>
            <class name="com.query.maven.ClassTwo"/>
        </classes>
    </test>
    
    <test name = "FirefoxTest">
    <parameter name="browser" value="${browser2}" />
        <classes>
           <class name="com.query.maven.ClassOne"/>
           <class name="com.query.maven.ClassTwo"/>
        </classes>
    </test>

</suite>